<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onLoadSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Tip Calculator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label text-right>Subtotal</ion-label>
    <ion-input type="string" text-right clearOnEdit
      [(ngModel)]="subtotalString"
      (ngModelChange)="onSubtotalChange($event)"
      placeholder="0.00">
    </ion-input>
  </ion-item>

  <ion-item text-wrap>
    <ion-label item-left>Tax</ion-label>

    <button hideWhen="android" ion-button item-left
      *ngFor="let tax of taxes; let i = index"
      (click)="setActiveTax(i)"
      [outline]="i != activeTax">
      {{tax | number:'1.2-2'}}
    </button>

    <button showWhen="android" ion-button item-left
      class="zIndexHack"
      *ngFor="let tax of taxes; let i = index"
      (click)="setActiveTax(i)"
      [outline]="i != activeTax">
      {{tax | number:'1.2-2'}}
    </button>
    <ion-input readonly text-right
      [ngModel]="taxAmount | number:'1.2-2'"
      placeholder="0.00"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Total</ion-label>
    <ion-input type="string" text-right clearOnEdit
      [(ngModel)]="totalString"
      (ngModelChange)="onTotalChange($event)"
      placeholder="0.00">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tip</ion-label>

    <button hideWhen="android" ion-button item-content
      *ngFor="let tip of tips; let i = index"
      (click)="setActiveTip(i)"
      [outline]="i != activeTip">
      {{tip}}
    </button>

    <button showWhen="android" ion-button item-content
      class="zIndexHack"
      *ngFor="let tip of tips; let i = index"
      (click)="setActiveTip(i)"
      [outline]="i != activeTip">
      {{tip}}
    </button>

    <ion-input text-right readonly item-content
    [ngModel]="tipAmount | number:'1.2-2'"
    placeholder="0.00"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Amount due</ion-label>
    <ion-input readonly text-right
      [ngModel]="amountDue | number:'1.2-2'"
      placeholder="0.00"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Persons: {{persons}} </ion-label>
    <ion-range [(ngModel)]="persons" (ngModelChange)="onPersonsChange()"
      min=2 max=10 snaps>
    </ion-range>
    <ion-label right>{{perPersonAmount}}</ion-label>
  </ion-item>

</ion-content>
